@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Imperial+Script&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-script: var(--font-script);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-script);
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity;
  z-index: 1;
}

::view-transition-old(root) {
  animation: none !important;
  z-index: 1;
}

::view-transition-new(root) {
  animation: none !important;
  z-index: 10000;
}

.transition-strip {
  position: absolute;
  left: 0;
  width: 200%;
  height: 33.3333%;
  transform: translateX(-100%);
  will-change: transform; 
}
