@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: black;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-script: var(--font-script);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity;
  z-index: 1;
}

::view-transition-old(root) {
  animation: none !important;
  z-index: 1;
}

::view-transition-new(root) {
  animation: none !important;
  z-index: 10000;
}

.transition-strip {
  position: absolute;
  height: 100%;
  transform: translateY(-100%);
  will-change: transform;
  justify-content: center;
  align-items: center;
  font-family: 'Jersey 15';
}

.pinyon-script {
  font-family: 'Pinyon Script', cursive;
  font-display: swap;
}

.funnel-display {
  font-family: 'Funnel Display';
  font-display: swap;
}

.sofia {
  font-family: 'Sofia', cursive;
  font-display: swap;
}

.jacquard {
  font-family: 'Jacquard 12', cursive;
  font-display: swap;
}

.jersey {
  font-family: 'Jersey 15', cursive;
  font-display: swap;
}

@layer utilities {
  .h-mobile-screen {
    height: calc(var(--vh) * 100);
  }
}


@keyframes neon-blink {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
  }

  20%,
  22%,
  24%,
  55% {
    opacity: 0.3;
    text-shadow: none;
  }
}